airspeed==0.5.10
amazon-kclpy==1.5.0
aniso8601==3.0.2
asn1crypto==0.24.0
astroid==2.0.4
attrs==19.1.0
autopep8==1.4
aws-sam-translator==1.12.0
aws-xray-sdk==2.4.2
awscli==1.16.94
boto==2.49.0
boto3==1.9.196
botocore==1.12.84
cachetools==3.1.1
certifi==2018.11.29
cffi==1.12.3
cfn-lint==0.22.4
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.5.3
cryptography==3.2
decorator==4.4.0
dnslib==0.9.7
docker==4.0.2
docopt==0.6.2
docutils==0.14
ecdsa==0.13.2
elasticsearch==6.4.0
entrypoints==0.3
envs==1.3
flake8==3.7.8
flake8-quotes==2.0.1
Flask==1.0.2
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
flask-swagger==0.2.12
future==0.17.1
idna==2.8
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10.1
jmespath==0.9.3
jsondiff==1.1.2
jsonpatch==1.23
jsonpath-rw==1.4.0
jsonpickle==1.2
jsonpointer==2.0
jsonschema==3.0.1
lazy-object-proxy==1.3.1
localstack==0.9.6
localstack-client==0.9
localstack-ext==0.9.0
MarkupSafe==1.0
mccabe==0.6.1
mock==3.0.5
moto-ext==1.3.7.1
nose==1.3.7
numpy==1.15.2
pandas==0.23.4
ply==3.11
psutil==5.4.8
pyaes==1.6.0
pyasn1==0.4.5
pycodestyle==2.5.0
pycparser==2.19
pycryptodomex==3.4.9
pyflakes==2.1.1
pylint==2.1.1
pyminifier==2.1
Pympler==0.7
pyOpenSSL==17.5.0
pyrsistent==0.15.3
python-coveralls==2.9.2
python-dateutil==2.7.3
python-dotenv==0.9.1
python-jose==3.0.1
python-jose-ext==1.3.2.4
pytz==2018.5
PyYAML==4.2b1
requests==2.22.0
requests-aws4auth==0.9
responses==0.10.6
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
srp-ext==1.0.7.1
subprocess32-ext==3.2.8.2
typed-ast==1.1.0
urllib3==1.24.2
virtualenv==16.2.0
virtualenv-clone==0.5.0
warrant-ext==0.6.1.1
websocket-client==0.56.0
Werkzeug==0.14.1
wrapt==1.10.11
xmltodict==0.12.0
yappi==1.0
