*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  text-size-adjust: 100%;
}

body {
  align-items: center;
  background-color: #d1dbbd;
  display: flex;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: scrollbar;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}
